
<header class="custom-container">
    <div class="py-5">
        <div class="flex justify-end">
            <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                <!-- <ion-icon name="menu" (click)="Menu(this)"></ion-icon> -->
              </span>
        </div>
        <div class="flex justify-end">
            <ul class="md:flex md:items-center z-[1] md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 pb-[200px] md:pl-0 pl-7 top-[-400px] transition-all ease-in duration-200">
                <li><a class="text-header hover:text-red-600" href="/works.html">Word</a></li>
                <li><a class="text-header hover:text-red-600" href="/blog.html">Blog</a></li>
                <li><a class="text-header hover:text-red-600" href="/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
