<!-- banner header -->
<section class="banner">
    <div class="custom-container">
        <div *ngFor="let data of infoList" class="grid md:grid-cols-3 gap-8 mb-[70px]">
            <div class="banner-content">
                <h2 class="banner-content-title">{{data.name}}, <br>
                    {{data.majors}}
                </h2>
                <p class="banner-content-description">{{data.note}}</p>
                <a class="banner-content-button" href="#">Download
                    Resume</a>
            </div>
            <div class="banner-image">
                <img class="banner-image-thumbnail" src="{{data.image}}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- about section -->
<section class="mb-[50px]">
    <div class="custom-container">
        <app-about-page></app-about-page>
    </div>
</section>
<!-- Skills section -->
<section class="recent-posts">
    <div class="custom-container">
        <app-skill-page></app-skill-page>
    </div>
</section>
<!-- Projects section -->
<section class="feature-works">
    <div class="custom-container">
        <app-project-page></app-project-page>
    </div>
</section>