<div class="text-center ">
    <p class="text-[52px] pt-3 pb-5 font-medium leading-[60px] ">Project</p>
</div>
<div *ngFor="let project of projectList">
    <div class="md:flex gap-[30px] mb-10">
        <div class="basis-[40%]">
            <a target="_blank" rel="noopener noreferrer" href="{{project.link}}">
                <img class="w-full md:w-full md:h-[230px]" src="{{project.image}}" alt="">
            </a>
        </div>
        <div class="basis-[60%]">
            <a target="_blank" rel="noopener noreferrer" href="{{project.link}}">
                <h3 class="text-[30px] font-bold hover:text-blue-500">{{project.name}}</h3>
            </a>
            <div class="flex gap-[26px] mb-[17px]">
                <span class="text-[20px]">{{project.language}}</span>
            </div>
            <p class="text-[16px]">{{project.description}}</p>
        </div>

    </div>
    
</div>